html {
  height: 100vh;
  background: url("./assets/background/background_image.jpg") no-repeat center
    center fixed;
  background-size: cover;
  font-family: sans-serif;
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.sections {
  color: #ffff;
  padding: 25px;
  margin: 25px;
}

.sections div {
  padding-bottom: 25px;
}

nav {
  height: 80px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  width: 100%;
}

nav a {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  text-decoration: none;
  font-size: 25px;
}

nav li {
  display: inline-block;
  justify-content: right;
  margin-right: 5px;
  margin-left: 5px;
}

nav h1 {
  margin-top: 10px;
  font-size: 40px;
  color: rgb(255, 255, 255);
}

nav ul {
  margin-top: 20px;
}

.card-img-top {
  max-width: 400px;
  height: auto;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 5px;
}

.render {
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 80%;
  justify-content: space-around;
  margin-left: 10%;
  margin-top: 30px;
  padding: 10px;
  border-radius: 15px;
  color: white;
}

.content {
  display: flex;
  justify-content: space-around;
}

#about {
  display: flex;
}

.aboutMe-img {
  width: 25%;
  height: auto;
}

.aboutMeText {
  padding: 20px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
}

.copyright {
  color: white;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactForm .form-group {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.form-group label {
  margin-right: 5px;
}

form button {
  padding: 4px;
  background-color: rgb(10, 98, 57);
  color: white;
  border-radius: 8px;
  align-self: flex-end;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

.download {
  color: white;
  text-decoration: none;
  font-size: 40px;
  font-weight: bolder;
}

.resume {
  display: flex;
  justify-content: space-around;
}

a:hover {
  text-decoration: underline;
}

.nav-linkActive {
  text-decoration: underline;
}

.project-button {
  display: flex;
  color: white;
  text-decoration: none;
}