html{
    height: 100vh;
    background: url("./assets/background_image.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
}

.sections{
    background-color: rgba(0, 0, 0, 0.75);
    color: #ffff;
    padding: 25px;
    margin: 25px;
}

.sections div{
    padding-bottom: 25px;
}

#titleName{
    width: 100%;
    padding-bottom: 45%;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    display: block;
    padding-top: 45%;
    font-size: 50px;
    text-align: center;
}

#titleName h1{
    font-family: monospace;
}
nav{
    height: 10vh;
    display: block;
}

nav a{
    color: white;
    font-family: sans-serif;
}




